.login, .signup{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 15%;
    background-color: #F1F4F8;
}
.large-text{
    display: flex;
    flex-direction: column;
    color: #0566FC;
    font-size: 3.5rem;
    font-weight: bolder;
}
.login .small-text, .signup .small-text{
    font-size: 2rem;
    color: black;
    font-weight: 500;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4%;
    position: relative;
}
.form-content{
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: .1px .1px 50px 1px lightgray;
    padding: 1rem;
    border-radius: .5rem;
    gap: .5rem;
    background-color: #FFFFFF;
}
.create-page{
    color: black;
}
.errors{
    color: red;
    font-size: .8rem;
    float: left;
    font-weight: 600;
    align-items: start;
    /* background-color: pink; */
}
.show-hide{
    color: black;
    position: absolute;
    top: 32%;
    left: 80%;
    font-size: 1.1rem;
    cursor: pointer;
}
.for-signup{
    top: 66%;
}
.form-content input{
    padding: 1rem;
    border-radius: .3rem;
    width: 90%;
    border: .1px solid gray;
    outline: none;
    font-size: 1.2rem;
}
.forgot, .already{
    color: #0566FC;
    text-decoration: none;
    font-weight: 600;
    font-size: .85rem;
    
}
.login-btn{
    padding: 1rem;
    border-radius: .3rem;
    background-color: #0566FC;
    width: 90%;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.create-btn{
    width: auto;
    padding: 1rem;
    border-radius: .3rem;
    background-color: #35A420;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 550;
}
.create-btn a{
    text-decoration: none;
    color: white;
}
.signup-btn{
    width: auto;
    padding: .5rem 3.5rem;
    border-radius: .3rem;
    background-color: #35A420;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 550;
}
.form-container ::placeholder{
    font-size: 1.1rem;
    font-weight: 500;
    color: #90949B;
}
.bolder-text{
    font-weight: 700;
    text-decoration: none;
    color: black;
}

@media (width < 800px) {
    .login, .signup{
        flex-direction: column;

    }
}
@media (width < 500px)
{
    .form-content{
        width: 90vw;
        min-width: 100%;
    }
}