.leftBar, .rightBar{
    width: 20vw;
    color: #E7E9EC;
    font-size: .7rem;
}
.rightBar{
    position: fixed;
    left: 80%;
    top: 2rem;
    padding: 2vmin;

}
.p-name{
    text-decoration: none;
    list-style: none;
    color: white;
}
.p-name:hover{
    text-decoration: underline;
}
.leftBar{
    position: fixed;
    top: 3rem;
    padding: .7rem;
}
.bar-links{
    display: flex;
    align-items: center;
    gap: .8rem;
    border-radius: 10px;
    cursor: pointer;
}
.leftBar .bar-links{
    padding: .7rem;
}
.links .profile-pic{
    border-radius: 0;
}
.s-links .profile-pic{
    width: 80%;
    height: 80%;
}
.rightBar .bar-links{
    padding: 10px;
}
.bar-links:hover{
    background-color: #3A3B3C;
}
.bar-title{
    display: flex;
    color: #CFD0D0;
    font-size: 1.05rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #3A3B3C;
    padding: 4% 0%;
}
.icons{
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon1:hover, .icon2:hover{
    background-color: #4E4F50;
}
.bar-icon{
    font-size: 1.8rem;
    color: #0A5CE6;
}
.for-post{
    display: flex;
    align-items: center;
    gap: 1px;
    color: #CFD0D0;
    font-size: .8rem;
    padding: 3px 0px;
}
.blue-font{
    color: #0A5CE6;
    font-weight: bold;
}

.access-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #CFD0D0;
}
.full-stop{
    padding-bottom: 4%;
}
.info{
    min-width: 9rem;
    font-size: .9rem;
}
.see-more{
    background-color: #3A3B3C;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
}
@media(width < 1100px){
    .leftBar{
        display: none;
    }
    .rightBar{
        width: 25%;
        left: 70%;
    }
}
@media(width < 900px){
    .rightBar{
        display: none;
    }
}