.onclick-structure{
    position: absolute;
    top: 0;
    z-index: 100000000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.left-one, .right-one{
    display: flex;
    width: 22rem;
    /* border-bottom: 1px solid #3A3B3C; */
}
.left-one{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    z-index: 99999999;
}
.sec-nav{
    display: flex;
    justify-content: space-between;
}
.right-one{
    /* background-color: #242527; */
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.cross-button, .adds-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
}
.cross-button:hover{
    background-color: #2D2D2D;
}

.left-sidebar, .right-sidebar{
    width: 22rem;
    height: 100vh;
    background-color: #242527;
}
.only-nav-left{
    display: flex;
    position: fixed;
    top: .5rem;
    gap: .5rem;
    left: 1rem;
}
.construct-button:hover{
    background-color:#2D2D2D;
}
.only-nav-right{
    display: flex;
    position: fixed;
    top: .5rem;
    left: 96%;
}
.bar-content-left, .bar-content-right{
    margin-top: 3.5rem;
    width: 100%;
    height: 100%;
    border-top: 1px solid #3A3B3C;
    display: flex;
    flex-direction: column;
    
}
.story-title{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}
.other-title{
    padding: 1rem;
}
.adds{
    display: flex;
    padding: 1rem;
}
.adds-icon{
    background-color: #3A3B3C;
   font-size: 1.6rem;
   width: 3.8rem;
   height: 3.8rem;
   color: #5BA6FD;
}
.story-link{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding-left: 1rem;
}
.story-active .bar-links{
    /* background-color: red; */
}
.top-comments{
    padding: 1rem;
    border-top: 1px solid #3A3B3C;
}
.onclick-story{
    width: 48rem;
    min-width: 42rem;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 7rem;
    
}
.p-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.inner-story-content{
    width: 70%;
    height: 85vh;
    border-radius: .5rem;
    /* overflow: hidden; */
    background-color: gray;
    margin-bottom: 5rem;
    display: flex;
    backdrop-filter: blur(20px);
}
.story-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: absolute;
}
.story-control-icons{
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.play-pause{
    font-size: 1rem;
}
.story-img, .story-video{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.stp{
   backdrop-filter: blur(100px);
   border-radius: .5rem;
   /* display: none; */
}
.reply-reactions{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -8%;
}
.divvv{
    position: absolute;
    left: 105%;
    top: 90%;
}
.onclick-post{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10rem;
    margin-right: 5rem;
}
.onclick-structure .searchBar-input{
    padding-left: 1rem;
}
.story-cards{
    display: flex;
    gap: 1rem;
    height: 80vh;
    position: relative;
    justify-content: center;
    align-items: center;
}
.create-photo, .create-text{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 21rem;
    color: white;
    border-radius: 1rem;
    gap: 1rem;
}
.story-upload-container{
    display: flex;
    width: 70%;
    margin-left: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}
.story-uploads-buttons{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.story-uploads-buttons button{
   padding: .8rem 3rem;
   border-radius: .5rem;
   color: white;
   outline: none;
   border: none;
   cursor: pointer;
}
.create-story-image{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
}
.discard-btn{
    background-color: #4E4F50;
}
.share-btn{
    background-color: #2D75FC;
   
}
.create-text{
    background: -webkit-linear-gradient(90deg, hsla(302, 82%, 76%, 1) 0%, hsla(258, 40%, 68%, 1) 100%);
}
.create-photo{
    background: -webkit-linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
}
.create-story-border{
    padding: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #3A3B3C;
}
.story-link .bar-links{
    /* background-color: aliceblue; */
    padding: 1rem;
}
@media (width < 1000px)
{
    .onclick-story{
        left: 0;
    }
}
@media (width < 900px) {
    .story-upload-container{
        width: 100vw;
        margin-left: 0;
    }
    .story-cards{
        width: 100%;
    }
    .left-sidebar, .right-sidebar{
        display: none;
    }
    .only-nav-right{
        left: calc(100vw - 10rem);
    }
    .onclick-post, .onclick-story{
        width: 100vw;
        min-width: 300px;
        margin-left: 0;
        margin-right: 0;
        position: absolute;

    }
    .inner-story-content{
        width: 100%;
    }
    .prev-stb{
        position: absolute;
        z-index: 10000000;
        top: 45vh;
        left: 5vw;
    }
    .next-stb{
        position: absolute;
        z-index: 10000000;
        top: 45vh;
        left: 90vw;
    }
    
}
@media (width < 1300px) {
    .story-uploads-buttons{
        flex-direction: column;
        gap: 1rem;
    }
}